body {
  padding: 20px;
  transform: scale(0.8); /* Adjust the scale value as needed */
  transform-origin: top left;
  width: 124%;
}

/* Apply styles to the table */
table {
  width: 90%;
  border-collapse: collapse;
  margin: 20px auto;
}

/* Style table headers */
th {
  background-color: #f2f2f2;
  text-align: left;
  padding: 8px;
  border: solid 1px;
}

/* Style table data cells */
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  border: solid 1px #d1cbcb;
}

/* Add some hover effect to table rows */
tr:hover {
  background-color: #f5f5f5;
}

/* Style the table header row */
thead tr {
  background-color: #333;
  color: #0f0f0f;
}

/* Style the table header cells */
thead th {
  padding: 10px;
  text-align: center;
}

.btn {
  margin: 3px !important;
}

li {
  padding: 10px;
  cursor: pointer;
}

pre {
  background-color: #f4f4f4;
  padding: 10px;
  border: 1px solid #ddd;
  white-space: pre-wrap; /* Preserve line breaks */
}

.btn.btn-primary.dropdown-toggle {
  width: 100%;
}

#keyword { 
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
}

#search-btn-div{
  display: flex;
  justify-content: flex-end;
  width: 90%;
  margin: 0px auto;
}

#title-text-span {
  font-size: 20px;
  display: flex;
  width: 90%;
  margin: 0px auto;
}

#host-info-table{
  width: 30%;
  border-collapse: collapse;
  margin: 0px ;  
}

#hostname {
  width: 100%;
}

#root-password {
  width: 100%;
}
