/* Apply styles to the table */
table {
    width: 80%;
    border-collapse: collapse;
    margin: 20px auto;
}

/* Style table headers */
th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
    border: solid 1px;
}

/* Style table data cells */
td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    border: solid 1px #d1cbcb;
}

/* Add some hover effect to table rows */
tr:hover {
    background-color: #f5f5f5;
}

/* Style the table header row */
thead tr {
    background-color: #333;
    color: #0f0f0f;
}

/* Style the table header cells */
thead th {
    padding: 10px;
    text-align: center;
}